.btn {
}

.btn-primary {
  display: block;
  background: var(--clr-primary-300);
  padding: 0.65rem 1.25rem;
  border-radius: 10px;
  color: white !important;
  transition: transform 0.25s ease, background-color 0.25s ease !important;

  &:hover {
    background-color: var(--clr-primary-400);
    transform: scale(1.05);
  }
}
