.card-matrix {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: stretch;
  justify-content: center;

  @include for-size('mobile-extra-large-down') {
    grid-template-columns: repeat(1, calc(100vw - 4em));
  }

  .card-matrix-item {
    transition: background-color 0.25s ease, transform 0.25s ease;
    border-radius: 0.5rem;
    padding: 1.5rem;

    a {
      font-weight: 700;
      transition: color 0.25s ease;
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        text-align: center;
        font-size: 1.3rem;
      }
    }

    img {
      width: 400px;
      max-width: calc(100vw - 4rem);
      height: auto;
    }

    &:hover,
    &:focus {
      background: var(--clr-primary-300);
      transform: scale(1.05);

      a {
        color: var(--clr-primary-50);
        text-decoration: none;
      }
    }
  }
}
