.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--clr-primary-300);
  border-radius: 3rem;
  color: var(--clr-primary-50);
  height: 16rem;
  margin: 10rem 0;

  @include for-size('mobile-extra-large-down') {
    height: unset;
    margin: 4rem 0;
  }

  &-text-content {
    padding: 1rem;

    @include for-size('tablet-up') {
      padding: 3rem;

      p {
        max-width: 65%;
      }
    }

    @include for-size('mobile-extra-large-down') {
      padding: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    a {
      color: var(--clr-primary-50);
      border-bottom: 2px solid var(--clr-primary-50);
      transition: padding 0.25s ease;

      &:hover {
        text-decoration: none;
        padding-bottom: 3px;
      }
    }

    a.btn-primary,
    a.btn-secondary {
      margin-top: 1rem;
      padding: 0.5rem 1.5rem;
      border-bottom: none;
      border-bottom: none;
      box-shadow: none;
    }

    a.btn-primary {
      background: var(--clr-gray-100);
      color: var(--clr-primary-300) !important;
    }

    a.btn-secondary {
      background: var(--clr-primary-300);

      &:hover {
        color: var(--clr-gray-100);
      }
    }
  }

  &-image-content {
    img {
      display: none;
      margin-top: 2rem;
      max-width: 20rem;

      @include for-size('medium-up') {
        display: block;
      }

      @include for-size('large-up') {
        max-width: 30rem;
      }
    }
  }
}
