.feature-matrix {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  box-shadow: var(--shadow-lg);

  .feature-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;

    .feature-item {
      background-color: white;
      padding: 2em;

      .image {
        display: inline-block;
        padding: .5em;
        background-color: rgba(lightgray, 0.2);
        border-radius: 4px;

        img {
          height: 25px;
        }
      }
    }
  }

  .feature-description {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
