.info-container {
  display: inline-block;
  position: relative;
}

.info-modal {
  display: none;
  position: absolute;
  padding: 1rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  z-index: 1;
  background-color: white;
  border-radius: 4px;
  font-weight: 400;
}

.info-link {
  margin-left: .25em;

  svg {
    font-size: .85em;
    color: rgba(0,0,0,.4);
    cursor: pointer;
  }
}
