.testimonials {
  .title {
    margin-bottom: 1rem;
  }

  ul {
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;

    @include for-size('mobile-extra-large-down') {
      grid-template-columns: 1fr;
    }
  }

  .testimonial {
    padding: 2em;
    width: 500px;
    max-width: calc(100vw - 3rem);
    border-radius: 1em;
    background-color: rgba(var(--solutions), .1);

    .content {
      position: relative;
    }

    .description {
      a {
        color: var(--primary);
        text-decoration: underline;
      }
    }

    .user {
      display: flex;

      .details {
        .name {
          font-weight: 800;
        }
      }
    }
  }
}
