.container {
  position: relative;
  min-height: 100vh;
}

main#content {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 19rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 17.5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
