.container {
  position: relative;
  min-height: 100vh;
}

main#content {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include for-size('mobile-large-up') {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include for-size('medium-up') {
    padding-bottom: 350px;
  }

  @include for-size('medium-down') {
    padding-bottom: 1.5rem;
  }
}

footer {
  @include for-size('medium-up') {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
