$colors: (
  primary: (
    100: hsl(259, 42, 86),
    200: hsl(257, 33, 88),
    300: hsl(257, 67, 33),
    400: hsl(257, 67, 25),
    500: hsl(257, 67, 15),
  ),
  gray: (
    300: hsl(0, 0, 76),
  ),
);
