$colors: (
  primary: (
    50: hsl(260, 36%, 95%),
    100: hsl(259, 42%, 86%),
    200: hsl(257, 33%, 88%),
    250: rgba(60, 28, 140, 0.5),
    300: hsl(257, 67%, 33%),
    400: hsl(257, 67%, 25%),
    500: hsl(257, 67%, 15%),
  ),
  gray: (
    100: hsl(0, 0%, 100%),
    200: hsl(222, 24%, 92%),
    300: hsl(0, 0, 76),
  ),
  developers: (
    50:hsla(0, 0%, 100%, 1),
    100: hsl(202, 100%, 94%),
    120: hsla(0, 0%, 60%, 1),
    150: hsla(203, 100%, 50%, 0.5),
    200: hsla(203, 100%, 50%, 1)
  )
);
