<div class="cta {{ .class }}">
  <div class="cta-text-content">
    {{ with .surtitle }}
      <div class="surtitle">{{ . }}</div>
    {{ end }}
    {{ with .title }}
      <div class="title">{{ . }}</div>
    {{ end }}
    {{ with .description }}
      <div class="description">{{ . }}</div>
    {{ end }}
    {{ if isset . "primary" }}
      {{ partial "cta-buttons" . }}
    {{ end }}
  </div>
  {{ with .image }}
    <div class="cta-image-content">
      {{ $image_url := or ( . ) "/images/laptop.svg" }}
      {{ $image := resources.Get $image_url }}
      <img src="{{ $image.RelPermalink }}" alt="" />
    </div>
  {{ end }}
</div>
