<div class="feature-matrix">
  <div class="feature-list">
    {{ range $index, $item := .list }}
      <a href="{{ with $item.url }}{{ . }}{{ end }}" target="_blank" class="feature-item {{ .class }}">
        <div class="image">
          {{ with $item.image }}
            {{ $image := resources.Get . }}
            {{ with $image }}
              <img alt="feature icon" src="{{ $image.RelPermalink }}" />
            {{ end }}
          {{ end }}
        </div>
        {{ if $item.description }}
          <div class="feature">
            <h3>{{ $item.title }}</h3>
            <p>{{ $item.description }}</p>
          </div>
        {{ end }}
      </a>
    {{end}}
  </div>
  {{ if .show_description }}
    <div class="feature-description">
      <h2>{{ .title }}</h2>
      <p>{{ .description }}</p>
      {{ with .buttons }}
        {{ partial "cta-buttons" . }}
      {{ end }}
    </div>
  {{ end }}
</div>
