<footer>
  <div class="footer-upper">
    <div class="footer-upper-left">
      <img src="/images/pavilion-logo.svg" alt="Pavilion Logo" width="130" loading="lazy" />
      <p>
        Pavilion is a coöperative that builds software and provides services for
        online communities.
      </p>
      <ul>
        <li><a href="https://pavilion.tech"><i class="fab fa-discourse"></i></i></a></li>
        <li><a href="mailto:contact@pavilion.tech"><i class="fas fa-envelope"></i></a></li>
        <li><a href="https://github.com/paviliondev"><i class="fab fa-github"></i></a></li>
      </ul>
    </div>
    <div class="footer-upper-right">
      <ul>
        <li><h3>Custom Wizard</h3></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/use-cases/clubs">Clubs & Associations</a></li>
        <li><a href="/use-cases/developers">Developer Communities</a></li>
        <li><a href="/use-cases/education">Education Communities</a></li>
        <li><a href="/use-cases/professional">Professional Communities</a></li>
      </ul>
      <ul>
        <li>
          <h3>Company</h3>
        </li>
        <li><a href="https://pavilion.tech/about">About</a></li>
        <li><a href="https://pavilion.tech/contact">Contact</a></li>
        <li><a href="https://pavilion.tech/blog">Blog</a></li>
      </ul>
      <ul>
        <li>
          <h3>Support</h3>
        </li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Bug Reports</a></li>
        <li><a href="#">Feature Request</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-lower">
    <div class="footer-copyright">
      <p>
        <i class="far fa-copyright"></i>
        <script>
          document.write(new Date().getFullYear());
        </script>
        Pavilion Community Ltd, All Rights Reserved
      </p>
    </div>
    <div class="footer-lower-links">
      <ul>
        <li><a href="https://pavilion.tech/terms">Terms</a></li>
        <li><a href="https://pavilion.tech/privacy">Privacy</a></li>
      </ul>
    </div>
  </div>
</footer>
