<footer>
  <div class="footer-upper">
    <div class="footer-upper-left">
      {{ $logo := resources.Get "/images/logo.svg" }}
      <img src="{{ $logo.RelPermalink }}" alt="Pavilion Logo" />
      <p>We Build Communities</p>
      <ul>
        <li><a href="https://pavilion.tech"><i class="fas fa-globe"></i></i></a></li>
        <li><a href="mailto:contact@pavilion.tech"><i class="fas fa-envelope"></i></a></li>
        <li><a href="https://github.com/paviliondev"><i class="fab fa-github"></i></a></li>
      </ul>
    </div>
    <div class="footer-upper-right">
    </div>
  </div>
  <div class="footer-lower">
    <div class="footer-copyright">
      <p>
        <i class="far fa-copyright"></i>
        <script>
          document.write(new Date().getFullYear());
        </script>
        Pavilion Community Ltd
      </p>
    </div>
    <div class="footer-lower-links">
      <ul>
        <li><a href="https://pavilion.tech/privacy">Privacy</a></li>
      </ul>
    </div>
  </div>
</footer>
