<footer>
  <div class="footer-upper">
    <div class="footer-upper-left">
      <img
        src="https://thepavilion.io/uploads/default/original/2X/e/e967d39581b01101127019b5754c72816d169f41.png"
        alt="Pavilion Logo"
        width="130"
        loading="lazy"
      />
      <p>
        Pavilion is a coöperative that builds software and provides services for
        online communities.
      </p>
      <ul>
        <li>
          <a href="https://pavilion.tech"><i class="fab fa-discourse"></i></i></a>
        </li>
        <li><a href="mailto:contact@thepavilion.io"><i class="fas fa-envelope"></i></a></li>
        <li><a href=""><i class="fab fa-github"></i></a></li>
      </ul>
    </div>
    <div class="footer-upper-right">
      <ul>
        <li>
          <h3>Custom Wizard</h3>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/use-cases">Use Cases</a></li>
        <li><a href="/pricing">Pricing</a></li>
      </ul>
      <ul>
        <li>
          <h3>Company</h3>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
      <ul>
        <li>
          <h3>Other Plugins</h3>
        </li>
        <li><a href="#">Layouts</a></li>
        <li><a href="#">Locations</a></li>
        <li><a href="#">Tickets</a></li>
      </ul>
      <ul>
        <li>
          <h3>Support</h3>
        </li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Bug Reports</a></li>
        <li><a href="#">Feature Request</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-lower">
    <div class="footer-copyright">
      <p>
        <i class="far fa-copyright"></i>
        <script>
          document.write(new Date().getFullYear());
        </script>
        Pavilion, All Rights Reserved
      </p>
    </div>
    <div class="footer-lower-links">
      <ul>
        <li><a href="/Terms">Terms</a></li>
        <li><a href="/Privacy">Privacy</a></li>
        <li><a href="/Cookies">Cookies</a></li>
      </ul>
    </div>
  </div>
</footer>
