<header class="site-header {{ .Site.Params.header.class }}">
  <div class="site-logo">
    <a href="{{ .Site.BaseURL }}">
      {{ $logo := resources.Get .Site.Params.logo }}
      <img src="{{ $logo.RelPermalink }}" alt="Pavilion logo" loading="lazy"/>
    </a>
    <div class="hamburger-toggle">
      <button class='hamburger-button' onclick="toggleNavigation()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
  <nav class="site-navigation">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main.Sort.ByWeight}}
          {{ if .HasChildren }}
              <li class="{{ if $currentPage.HasMenuCurrent "main" . }} active {{ end }}menu-dropdown">
                  <a href="#" class="link">
                    <span>{{ .Name }}</span>
                  </a>
                  <ul class="dropdown-panel">
                      {{ range .Children }}
                          <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                              <a href="{{ .URL }}" class="link">
                                {{ .Pre }}
                                {{ .Name }}
                              </a>
                          </li>
                      {{ end }}
                  </ul>
              </li>
          {{ else }}
              <li class="menu-item {{ .Params.item }}">
                  <a href="{{ .URL }}" class="{{ .Params.link }} link">
                      <span>{{ .Name }}</span>
                  </a>
              </li>
          {{ end }}
      {{ end }}
    </ul>
  </nav>
  <div class="site-cta">
    <a href="{{ .Site.Params.header.cta.url }}" class="{{ .Site.Params.header.cta.class }} link">
      <span>{{ .Site.Params.header.cta.name }}</span>
    </a>
  </div>
</header>

<script>
window.onscroll = (() => {
  const header = document.querySelector('.site-header');
  const scrollAmount = 10;

  if (document.body.scrollTop > scrollAmount || document.documentElement.scrollTop > scrollAmount) {
    header.classList.add('scrolling-header');
  } else {
    header.classList.remove('scrolling-header');
  }
});

toggleNavigation = (() => {
  const navigationItems = document.querySelector('.site-navigation');
  return navigationItems.classList.toggle('expanded-navigation');
});
</script>
