<div class="image-list">
  <div class="list-container">
    <ul>
      {{ range .list }}
        <li>
          <a target="_blank" href="{{ .link }}" title="{{ .title }}">
            {{ $logo := resources.Get .image }}
            {{ if $logo }}
              <img src="{{ $logo.RelPermalink }}" alt="{{ .title }}">
            {{ end }}
            {{ with .caption }}
              <label class="caption">{{ . }}</label>
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
