<div class="product-stats">
  {{ range .stats }}
  <div class="product-stats-item">
    <h5>{{ .number }}</h5>
    <p>{{ .description }}</p>
    <small>{{ .note }}</small>
  </div>
  {{ end }}
</div>
{{ $image := resources.Get .image }}

{{ if $image }}
  <div class="product-stats-image">
    {{ if .url }}
      <a href="{{ .url }}" target="_blank">
        <img alt="product image" src="{{ $image.RelPermalink }}" />
      </a>
    {{ else }}
      <img alt="product image" src="{{ $image.RelPermalink }}" />
    {{ end }}
  </div>
{{ end }}
