<script>
  function changePlatform(el) {
    console.log(el)
    document.querySelector('.product-list .list').setAttribute("data-platform", el.value);
  }
  function changeTopic(el) {
    document.querySelector('.product-list .list').setAttribute("data-topic", el.value);
  }
</script>

<div class="product-list">
  <a id="product-list"></a>
  <div class="header">
    <div class="filters">
      {{ $arrow := resources.Get "/images/down-arrow.png" }}
      <select name="platform" onchange="changePlatform(this);" style="background: url({{ $arrow.RelPermalink }}) 96% / 15% no-repeat white; background-size: 15px;">
        <option disabled selected value>Select a Platform</option>
        <option value="discourse">Discourse</option>
        <option value="wordpress">Wordpress</option>
        <option value="shopify">Shopify</option>
        <option value="auth0">Auth0</option>
        <option value="shopify">Shopify</option>
        <option value="mattr">MATTR</option>
      </select>
      <select name="topic" onchange="changeTopic(this);" style="background: url({{ $arrow.RelPermalink }}) 96% / 15% no-repeat white; background-size: 15px;">
        <option disabled selected value>Select a Topic</option>
        <option value="events">Events</option>
        <option value="layouts">Layouts</option>
        <option value="locations">Locations</option>
        <option value="identity">Identity</option>
        <option value="forms">Forms</option>
        <option value="ratings">Ratings</option>
      </select>
    </div>
  </div>
  <div class="list" data-platform="" data-topic="">
    {{ range .List }}
      <div class="product {{ .class }}">
        <div class="title">
          {{ with .logo }}
            <span class="logo">
              {{ $logo := resources.Get . }}
              {{ with $logo }}
                <img src="{{ .RelPermalink }}">
              {{ end }}
            </span>
          {{ end }}
          {{ with .title }}
            <h2>{{ . }}</h2>
          {{ end }}
        </div>
        {{ if .tags }}
          <div class="tags">
            {{ range .tags }}
              <span class="tag">{{ . }}</span>
            {{ end }}
          </div>
        {{ end }}
        {{ with .image }}
          <div class="image">
            {{ $image := resources.Get . }}
            {{ with $image }}
              <img src="{{ .RelPermalink }}">
            {{ end }}
          </div>
        {{ end }}
        <div class="content">
          {{ with .description }}
            <p class="description">{{ . }}</p>
          {{end }}
        </div>
        <div class="footer">
          {{ with .primary }}
            <a target="_blank" href="{{ .url }}" class="btn-primary-light">{{ .text }}</a>
          {{ end }}
          {{ with .secondary }}
            <a target="_blank" href="{{ .url }}" class="btn-outline">{{ .text }}</a>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
