@import "abstracts/variables";

.usecases-heading {
  margin: 10rem auto 2rem;
  text-align: center;

  @include for-size('mobile-extra-large-down') {
    margin: 2rem 0 0 0;
  }

  span {
    color: $clr-200;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.how-it-works {
  margin: 12em 0;

  .content {
    display: grid;
    grid-template-columns: 55% 45%;

    .left-portion {
      img {
        width: 400px;
        height: 400px;
      }

      @include for-size('mobile-extra-large-down') {
        display: none;
      }
    }

    .right-portion {
      ul {
        li {
          display: grid;
          grid-template-columns: 12fr 88fr;
          padding: 1rem;

          &.review-submissions {
            background: $clr-100;
            border-radius: 10px;
          }

          .subtitle {
            grid-column: 2 / span 1;
          }
        }
      }

      h1, h3 {
        color: $clr-200;
        font-weight: 100;
      }

      p {
        color: $clr-150;
      }
    }
  }

  @include for-size('mobile-extra-large-down') {
    margin: 4em 0;

    .content {
      display: flex;

      .left-portion {
        display: none;
      }

      .right-portion {
        .image {
          margin-right: 1em;
        }
      }
    }
  }
}

.main-client {
  text-align: center;
  .heading {
    color: $clr-200;
  }
}

.client-review {
  background: $clr-100;
  padding: 3em 10em 0em;
  margin-bottom: 100px;
  height: 200px;

  .review-box {
    background: $clr-50;
    border-radius: 10px;
    padding: 1em 5em;
    box-shadow: 0px 4px 40px -14px rgba(0, 0, 0, 0.25);
    font-weight: 100;
    font-size: 20px;

    p {
      position: relative;
      padding: 0 40px;
      margin-top: -40px;
    }

    .quote-end {
      text-align: end;
      margin-top: -60px;

      img {
        z-index: -1;
      }
    }
  }

  @include for-size('mobile-extra-large-down') {
    padding: 0em;
    margin-top: 2em;

    .review-box {
      padding: 1em;
    }
  }
}
