.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
  background: var(--clr-primary-50);
  padding: 1rem 0.5rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 11rem;
  border-radius: 45px;

  .hero-info {
    h1 {
      font-size: 3.5rem;
      color: var(--clr-primary-300);
    }
    p {
      margin: 0 auto;
      width: 75%;
      color: var(--clr-primary-300);
    }
    ul {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 1rem;

      li a {
        padding: 0.5rem 1.5rem;
      }
    }

    @include for-size('mobile-extra-large-down') {
      h1 {
        font-size: 2.5rem;
      }
    }
  }

  .hero-image {
    position: absolute;
    right: -70px;

    img {
      max-width: 450px;
      min-width: 250px;
      width: 100%;
    }

    @include for-size('tablet-down') {
      display: none;
    }
  }

  @include for-size('mobile-large-up') {
    padding: 2rem;
    text-align: left;

    .hero-info {
      p {
        margin: unset;
        text-align: left;
      }

      ul {
        justify-content: flex-start;
      }
    }
  }

  @include for-size('mobile-extra-large-down') {
    margin-top: 3rem;
  }
}
