.logo-clouds {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;

  a svg {
    transition: opacity 0.25s ease;
    &:hover {
      opacity: 0.5;
    }
  }
}
