.hero-pricing {
  background: var(--clr-primary-100);
  @include fluid-section;
  padding: 1.5rem 3rem;
  margin-bottom: 2rem;
  color: var(--clr-primary-300);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: var(--clr-primary-300);
  }

  p {
    max-width: 75%;
    margin-bottom: 0;
  }

  img.click-here {
    height: 70px;
  }

  .mobile-cta {
    width: 100%;
    margin-top: 1em;
  }
}

.pricing-header {
  padding: 1em;
}

.pricing-chart {
  overflow-x: auto;
  border: 1px solid var(--clr-gray-200);
  max-width: max-content;

  table.pricing-table {
    thead th {
      padding: 0 1rem;
      vertical-align: top;
      position: relative;

      h3 {
        font-weight: 100;
        font-size: var(--font-0);
        color: var(--clr-primary-250);
        margin-bottom: 0;
      }

      h2 {
        font-size: var(--font-up-4);
        color: var(--clr-primary-300);
        white-space: nowrap;
      }

      p {
        font-weight: 100;
        font-size: var(--font-down-1);
        max-width: 300px;
        margin-bottom: 60px;
      }

      a {
        position: absolute;
        bottom: 0;
        left: 1rem;
        right: 1rem;
        text-align: center;
      }

      img {
        margin-top: 2rem;
      }
    }

    tbody:before {
      content: '@';
      display: block;
      line-height: 20px;
      text-indent: -99999px;
    }

    .title-row {
      background: var(--clr-primary-50);
      strong {
        color: var(--clr-primary-300);
        margin-left: 1rem;
      }

      td {
        padding: 1.5rem;
        color: var(--clr-primary-400);
      }
    }

    .feature-row {
      .feature-title {
        margin-left: 1rem;
        font-weight: 100;
        color: var(--clr-primary-400);
      }

      .feature-description {
        margin-left: 1rem;
        font-size: .8em;
        font-weight: 100;
        display: block;
        color: var(--clr-primary-400);
      }

      th,
      td {
        border-bottom: 1px solid var(--clr-gray-200);
      }

      td {
        padding: 0.75rem;
        text-align: center;
        position: relative;
      }

      .fa-check {
        color: #5bc9a7;
      }

      .fa-times {
        color: #f25767;
      }

      .footnote-link {
        position: absolute;
        top: 0;

        svg {
          font-size: .6em;
        }
      }
    }
  }
}

.footnotes {
  margin-top: 1em;

  .footnote {
    svg {
      font-size: .6em;
    }
  }
}

#content {
  @include for-size('mobile-extra-large-up') {
    .pricing-chart.desktop {
      display: block;
    }
    .pricing-chart.mobile {
      display: none;
    }
    .mobile-cta {
      display: none;
    }
  }

  @include for-size('mobile-extra-large-down') {
    img.click-here {
      display: none;
    }
    .pricing-chart.desktop {
      display: none;
    }
    .pricing-chart.mobile {
      display: block;
      border: unset;
      padding: 0 2rem;
    }
    .hero-pricing p {
      max-width: 100%;
    }
    .pricing-item-mobile {
      margin-bottom: 4em;
    }
    .footnotes {
      display: none;
    }
  }
}
